<% if @project.errors.any? %>
<div id="errors" >
	<h2> <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved: </h2>
	<ul>
		<% @project.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<%= simple_form_for @project, :html => {:multipart => true} do |f| %>
<%= f.input :title, label: 'Enter your project title' %>
<%= f.input :description, label: 'Enter your project description' %>
<%= f.file_field :image %>
<%= f.submit 'Create project'%>
<% end %>
